#selected-team-logo{
    width: 100%;
    padding: 20px;
}
#team-details{
    height: 100%;
    border-left: 1px grey solid;
    padding-left: 20px;
}
#selected-team-head-coach-picture {
    width: 100%;
}

.info-row{
    padding-top: 30px !important;
    padding-left: 10px !important;
}
#welcome-to-team-header{
    width: 100%;
    padding-top: 20px;
}
#team-info-row{
    border-bottom: 1px solid grey;
}
#selected-team-head-coach-picture{
    border-radius: 15px;
    box-shadow: 10px 10px 10px grey;
}
#loader {
    position: relative;
    text-align: center;
    margin: 15px auto 35px auto;
    z-index: 9999;
    display: block;
    width: 80px;
    height: 80px;
    border-top: 16px solid #f44242;
    border-right: 16px solid #fbb7b7;
    border-bottom: 16px solid #14b78e;
    border-left: 16px solid #baf7e8;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}